<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px"
                             src="./assets/img/avatar/{{loginInfo.avatar}}" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.first_name}} {{loginInfo.last_name}}</strong>
                      </span>
                          <span class="text-muted text-xs block">{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                    {{loginInfo.first_name.charAt(0).toUpperCase()}}{{loginInfo.last_name.charAt(0).toUpperCase()}}
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['/admin/home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboards</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('agent')}">
                <a [routerLink]="['/admin/agent']"><i class="fa fa-exchange"></i> <span class="nav-label">Agents</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('dealer')}">
                <a [routerLink]="['/admin/dealer']"><i class="fa fa-angle-double-up"></i> <span class="nav-label">Dealers</span></a>
            </li>
            <!--
            <li [ngClass]="{active: activeRoute('others')}">
                <a [routerLink]="['/admin/others']"><i class="fa fa-desktop"></i> <span class="nav-label">Others</span></a>
            </li>-->
        </ul>

    </div>
</nav>