<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Monthly</span>
                    <h5>Income</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{adminDashboardData.monthlyIncome}}</h1>
                    <div class="stat-percent font-bold text-success">00% <i class="fa fa-bolt"></i></div>
                    <small>Total income</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Annual</span>
                    <h5>Orders</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{adminDashboardData.orders}}</h1>
                    <div class="stat-percent font-bold text-info">00% <i class="fa fa-level-up"></i></div>
                    <small>New orders</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Visits</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{adminDashboardData.visits}}</h1>
                    <div class="stat-percent font-bold text-navy">00% <i class="fa fa-level-up"></i></div>
                    <small>New visits</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Low value</span>
                    <h5>User activity</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{adminDashboardData.userActivity}}</h1>
                    <div class="stat-percent font-bold text-danger">00% <i class="fa fa-level-down"></i></div>
                    <small>In first month</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                        <a [routerLink]="['/admin/dealer']"><h5>Recent Dealers</h5></a>
                </div>
                 <div class="ibox-content">
                        <div class="row">
                                <div >
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                        <tr>
                                            <th>Dealer Name</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Agent Name</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor = "let agent of adminDashboardData.recentTrade">
                                            <td> {{agent.dealerName}}</td>
                                            <td class="text-center small">{{agent.date}}</td>
                                            <td> {{agent.agentName}}</td>
                                            <td class="text-center"><span class="label label-primary">{{agent.amount}}</span></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                </div>
            </div>
        </div>
 
        <div class="col-lg-7">

            <div class="row">
                <div class="col-lg-7">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <a [routerLink]="['/admin/agent']"><h5>Agents</h5></a>
                            <a [routerLink]="['/admin/addagent']">
                            <span class="label label-primary pull-right">Add New Agent</span>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Agent</th>
                                    <th>DOJ</th>
                                    <th>Dealers</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor = "let recentAgentActivity of adminDashboardData.recentAgentActivity">
                                    <td> {{recentAgentActivity.user}}</td>
                                    <td><i class="fa fa-clock-o"></i> {{recentAgentActivity.date}}</td>
                                    <td><small>{{recentAgentActivity.noOfDealerAdded}}</small></td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i>{{recentAgentActivity.value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Small todo list</h5>
                            <div class="ibox-tools">
                            </div>
                        </div>
                        <div class="ibox-content">
                            <ul class="todo-list m-t small-list">
                                <li *ngFor = "let todolist of adminDashboardData.toDoList">
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i></a>
                                    <span class="m-l-xs todo-completed">{{todolist.toDo}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Transactions worldwide</h5>
                            <div class="ibox-tools">
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-lg-6">
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                        <tr>
                                            <th>Transaction</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor = "let compositeTransaction of adminDashboardData.compositeTransaction">
                                            <td>{{compositeTransaction.transaction}}</td>
                                            <td class="text-center small">{{compositeTransaction.date}}</td>
                                            <td class="text-center"><span class="label label-primary">{{compositeTransaction.amount}}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>