<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px"
                             src="./assets/img/avatar/{{loginInfo.avatar}}" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.first_name}} {{loginInfo.last_name}}</strong>
                      </span>
                          <span class="text-muted text-xs block">{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                    SWWCC
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('agent/addLead')}">
                <a [routerLink]="['/agent/addLead']"><i class="fa fa-dashboard"></i> <span class="nav-label">Add New Dealer</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('agent/info')}">
                <a [routerLink]="['/agent/info','dealerList']"><i class="fa fa-exchange"></i> <span class="nav-label">Delears</span></a>
            </li>
        </ul>

    </div>
</nav>