<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="default-form contact-form">
            <form name ="addNewAgentForm" id="addNewAgentForm" role="form" method="post" ngNativeValidate (submit)="addLead($event)">
            <div id="main_form" style="display: block;">
            <h2 style="color:#1ab394;">Add New Agent</h2>
            <p>
                Send us your message and we will get back to you as soon as possible
            </p>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="firstname">
                            First Name:</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"  maxlength="50" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="lastname">
                            Last Name:</label>
                        <input type="text" class="form-control" required id="lastname" name="lastname"  maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="email">
                            Email:</label>
                        <input type="text" class="form-control" id="email" name="email"
                        maxlength="50">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="phone">
                            Phone:</label>
                        <input type="tel" class="form-control" required id="phone" name="phone" required
                        maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="message">
                            Message:</label>
                        <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                    </div>
                </div>
                            <div class="row">
                    <div class="col-sm-12 form-group">
                            <button type="submit" style="margin-right:10px;" class="btn btn-primary">Add</button>
                            <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="backbtnClick();">Back</button>

                    </div>
                </div>
    
            </div>

            <div id="response_message" style="width:100%; height:100%; display:none; ">
                    <h2 style="color:#1ab394;">Agent added Successfully</h2>
                    <h3>
                        {{responseMessage}}
                    </h3>
                    <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="addMore($event);">Add More</button>
                    <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="backbtnClick();">Back</button>

            </div>
            <div id="error_message" style="width:100%; height:100%; display:none; ">
            <h2 style="color:#ff0000;">Error!</h2>
            <h3>
                Sorry there was an error Adding New Agent.
            </h3>
            <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="addMore($event);">Retry</button>
            <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="backbtnClick();">Back</button>

            </div>
        </form>
        </div>
        </div>
    </div>