
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 style="color:#1ab394;">{{header}}</h2>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover no-margins" width="100%">
                      <thead>
                      <tr>
                          <th>Dealer Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Entry Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr  *ngFor = "let dealer of dealers">
                          <td (click)="openprofile(dealer.dealerId)">{{dealer.firstName}} {{dealer.lastName}}</td>
                          <td> {{dealer.email}}</td>
                          <td> {{dealer.phone}}</td>
                          <td><i class="fa fa-clock-o"></i> {{dealer.registerDate}}</td>
                      </tr>
                      </tbody>
                  </table>
                </div>
                <div class="ibox-content">
                      <table class="table table-hover no-margins" width="100%">
                            <thead>
                            <tr>
                                <button type="button" class="btn btn-primary" (click)="addbtnClick();">Add New</button>
                            </tr>
                            </thead>
                        </table>
                </div>
        </div>


