<div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <form name = "loginForm" (submit)="authUser($event)">
      <div class="login__form">
          <div class="login__row">
              <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
              </svg>
              <input type="text" required class="login__input company" id="Company" placeholder="Company" (focus)="focused=false" />
            </div>
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" required class="login__input name" id="Username" placeholder="Username" (focus)="focused=false"/>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <input type="password"  class="login__input pass" id="Password" required placeholder="Password" (focus)="focused=false"/>
        </div>
        <div id="errorMsg" style="visibility: hidden; height: 5px; color: red;" >
            <span *ngIf="focused">
                {{errormsg}}
             </span>
        </div>
        <button type="submit" class="login__submit">Sign in</button>
        <!--<p class="login__signup"><a>Don't have an account?&nbsp;Sign up</a></p>-->
      </div>
    </form>
    </div>
    <div class="app">
      <div class="app__top">
        <!--<div class="app__menu-btn">
          <span></span>
        </div>
        <svg class="app__icon search svg-icon" viewBox="0 0 20 20">
          <path d="M20,20 15.36,15.36 a9,9 0 0,1 -12.72,-12.72 a 9,9 0 0,1 12.72,12.72" />
        </svg>-->
        
        <form  name = "loginForm" (submit)="authUser($event)">
          
        
            <button type="submit" class="signup__submit">Sign in</button>
            <!--<p class="login__signup"><a>Don't have an account?&nbsp;Sign up</a></p>-->
          
        </form>
      <div class="app__logout">
        <svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
          <path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12"/>
        </svg>
      </div>
    </div>
    </div>
  </div>
</div>
