<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h2  style="color:#1ab394;">{{header}}</h2>
            </div>
            <div class="ibox-content">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover no-margins" width="100%">
                    <thead>
                    <tr>
                      <th>Dealer Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Agent Name</th>
                      <th>Joining Date</th>
                      <th>location</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor = "let dealer of dealers">
                          <td (click)="openprofile(dealer.dealerId)">{{dealer.firstName}} {{dealer.lastName}}</td>
                          <td> {{dealer.email}}</td>
                          <td> {{dealer.phone}}</td>
                          <td>{{dealer.agentFirstName}} {{dealer.agentLastName}}</td>
                          <td><i class="fa fa-clock-o"></i> {{dealer.registerDate}}</td>
                          <td><i class="material-icons" style="font-size:20px;color:#1ab394" data-target="#myModal" (click)="openMap(dealer.latitude,dealer.longitude)">pin_drop</i></td>
                      </tr>
                    </tbody>
                </table>
              </div>
              
              <div class="ibox-content">
                    <table class="table table-hover no-margins" width="100%">
                          <thead>
                          <tr>
                              <button type="button" class="btn btn-primary" (click)="backbtnClick();">Home</button>
                          </tr>
                          </thead>
                      </table>
              </div>
              
      </div>

      
      <div class="containter">
          <div class="row">
            <div class="col-md-12">
              <div id="map-canvas"></div>
            </div>
            </div>
          </div>
          <!--- modal  -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">   
                        Store
                </div>
                <div class="modal-body">
                <div id="map-canvas-modal"  >

                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>