<h1 mat-dialog-title>Dealer Input Location</h1>
<div mat-dialog-content>

<div id="googleMap"></div>

<agm-map 
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <!--*ngFor="let m of markers; let i = index"   should be as attribute of agm-marker if necessary-->
  <agm-marker 
      (markerClick)="clickedMarker('', i)"
      [latitude]="latitude"
      [longitude]="longitude"
      [label]=""
      [markerDraggable]="false"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
 <!-- 
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>
-->
</agm-map>
<!-- 
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary" mat-button (click)="onNoClick()">Close</button>
  <button class="btn btn-primary" mat-button [mat-dialog-close]="data.animal" >Ok</button>
</div>
-->