<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h2  style="color:#1ab394;">{{header}}</h2>
              </div>
              <div class="ibox-content">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover no-margins" width="100%">
                      <thead>
                      <tr>
                        <th>Agent Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Joining Date</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor = "let agent of agents">
                            <td (click)="openprofile(agent.agentId)">{{agent.agentFirstName}} {{agent.agentLastName}}</td>
                            <td> {{agent.agentEmail}}</td>
                            <td> {{agent.agentPhone}}</td>
                            <td><i class="fa fa-clock-o"></i> {{agent.createDate}}</td>
                        </tr>
                      </tbody>
                  </table>
                 </div>
                <div class="ibox-content">
                      <table class="table table-hover no-margins" width="100%">
                            <thead>
                            <tr>
                                <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="addAgent();">Add New Agent</button>
                                <button type="button" style="margin-right:10px;" class="btn btn-primary" (click)="backbtnClick();">Home</button>

                            </tr>
                            </thead>
                        </table>
                </div>
        </div>

        
        <div class="containter">
            <div class="row">
              <div class="col-md-12">
                <div id="map-canvas"></div>
              </div>
              </div>
            </div>
            <!--- modal  -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">   
                          Store
                  </div>
                  <div class="modal-body">
                  <div id="map-canvas-modal"  >

                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            
              </div>
            </div>